
body{
background-color: #eee;
max-height: 800px;
min-height: 640px;
}

header{
	text-align: center;
	margin-top: 0;
	padding: 0;
}

header #name{
	font-family: 'Raleway', sans-serif;
	background-color: black;
	height: 135px;
}
header #name h1{
	font-size: 87px;
	padding-top: 10px;
}

header #name h1 span{
	font-weight: 300;
	color: #29AAE1;
}

header h1 strong{
	font-weight: 700;
	color: white;
}

/*NAVIGATION*/

nav{
	background-color: #29aae1;
	font-family: 'Raleway', sans-serif;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{display: inline;}

nav ul li a{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 600;
	color: #eee;
	text-decoration: none;
	text-align: center;

	width: 120px;
	padding: 10px 0;
	display: inline-block;

	-webkit-transition: all 1s;
	transition: all 1s;
}

nav a:hover{
	color: black;
	background-color: #eee;
	_border-bottom:2px solid #29aae1;
}

nav #active{
	color: black;
	background-color: #eee;
	text-decoration: underline;
}



#content{
margin-top:30px;
height: 370px;
overflow: scroll;
overflow-x: hidden;
border:3px solid #f4f4f4;
text-align: left;
padding: 10px;
font-family: 'Raleway', sans-serif;
font-size: 14px;
font-weight: 400;
}

#content h2{
	font-weight: 700;
	font-size: 22px;
}

#content h3{
	font-weight: 700;
	font-size: 16px;
	margin: 20px 0;
}
#content h5{
	font-weight: 600;
	font-size: 14px;
	margin: 10px 0;
	color: #29AAE1;

}
#content img{
	width: 95%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content a{
	color: black;
	font-weight: 600;
}

#content em{
	font-style: italic;
}

#content strong{
	font-weight: 700;
}

#content p span{
	font-size: 14px;
	font-weight: 600;
	color: #29AAE1;
	text-transform: uppercase;
}

#content .example{
	background-color: black;
	color: #29AAE1;
	width: 95%;
	padding: 4px;
	display: block;
	margin: 10px auto 10px auto;
	border-radius: 5px;
	font-weight: 600;
	font-size: 13px;
}

#content table{
	width: 95%;
}

#content td{
	border: 1px solid black;
	padding: 5px;
}

#content td:first-child{
	font-weight: 600;
	text-align: center;
	font-size: 15px;
	vertical-align: middle;
}

#content ul li{
	padding: 5px 0;
}


#icons ul{
position: absolute;
right: -15px;
top: 35%;
list-style: none;
display: block;
}

#icons ul li a #icon{
	margin: 5px 0px;
	padding: 10px 20px 10px 10px;
	background-color: #29AAE1;
	border-radius: 15px;
	text-align: center;
}


#icons ul li a #icon:hover{
	color: black;
}

#icons #icon{
	color: #eee;
}

*/

footer{
	position: absolute;
	bottom: 0;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0)); 
}

footer p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 12px;
	color: rgba(0,0,0,0.25);
	margin-bottom: 0px;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0% 0 1% 0%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.5%;
}

.span_6_of_8 {
  	width: 75%;
}

.span_5_of_8 {
  	width: 62.5%;
}

.span_4_of_8 {
  	width: 50%;
}

.span_3_of_8 {
  	width: 37.5%;
}

.span_2_of_8 {
  	width: 25%;
}

.span_1_of_8 {
  	width: 12.5%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	header #name{
	height: 65px;
	margin-bottom: 0;
}

header #name h1{
	font-size: 45px;
	padding-top: 5px;
}

nav{
	height: 34px;
}

nav ul li a{
	font-size: 12px;
	font-weight: 400;
	border-right: 0px solid #eee;
	border-left: 0px solid #eee;
	width: 70px;
}
#content{
	width: 90%;
	border: none;
	padding: 0px;
	margin: 10px 5%;
	height: 100%;
}

#content p{
	font-size: 12px;
}

#content ul, ol{
	font-size: 12px;
}

footer{
	position: relative;
}
	.col { 
		margin: 0% 0 1% 0%;
	}
	.span_8_of_8 {
		width: 100%; 
	}
	.span_7_of_8 {
		width: 100%; 
	}
	.span_6_of_8 {
		width: 100%; 
	}
	.span_5_of_8 {
		width: 100%; 
	}
	.span_4_of_8 {
		width: 100%; 
	}
	.span_3_of_8 {
		width: 100%; 
	}
	.span_2_of_8 {
		width: 100%; 
	}
	.span_1_of_8 {
		width: 100%;
	}
}

