body{
	font-family: 'Raleway', sans-serif;
background-color: #eee;
}

header #name{
	background-color: black;
	width: 100%;
	height: 150px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: -16px;
}
header #name h1{
	font-size: 87px;
	padding: 20px;
	margin-left: 35px;
}

header #name h1 span{
	font-weight: 300;
	color: #29AAE1;
}

header h1 strong{
	font-weight: 700;
	color: white;
}

nav{
	background-color: #29aae1;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}
nav ul{list-style: none;}

nav ul li{display: inline-block;}

nav ul li a{
	font-size: 15px;
	display: inline-block;
	padding: 15px 0;
	margin: 0 20px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: all 1s;
	transition: all 1s;
}
nav ul li a:first-child{
	margin-right: 20px;
}
nav ul li:nth-child(0) a:after,
nav ul li:nth-child(1) a:after,
nav ul li:nth-child(2) a:after,
nav ul li:nth-child(3) a:after{
	padding-left: 40px;
	content: "|";
	color: gray;
}

nav a:hover{
	color: black;
}


#content{
margin: 40px 50px;
width: 40%;
height: 330px;
overflow: scroll;
overflow-x: hidden;
border:2px dashed black;
text-align: left;
padding: 10px;
font-family: 'Raleway', sans-serif;
font-size: 14px;
font-weight: 400;
}

#content h3{
	font-weight: 800;
	font-size: 16px;
	margin: 20px 0;
}
#content h5{
	font-weight: 800;
	font-size: 14px;
	margin: 10px 0;
	color: #29AAE1;

}
#content img{
	width: 95%;
	height: auto;
}


aside{
	position: fixed;
	left: 10px;
}

aside ul{
	list-style: none;
}




footer{
	width: 100%;
	color: white;
	background-color: black;
	font-size: 8px;
	position: fixed;
	bottom: 0;
	text-align: center;
}


