body{
	overflow: hidden;
}
#content #blog2{
	font-size: 12;
	font-weight: 300;
	text-transform: lowercase;
}

#content p span{
	font-size: 14px;
	font-weight: 700;
	color: #29AAE1;
	text-transform: uppercase;
}

#content img{
	width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content strong{
	font-weight: 800;
}

nav ul li:nth-child(0) a:after,
nav ul li:nth-child(1) a:after,
nav ul li:nth-child(2) a:after,
nav ul li:nth-child(3) a:after,
nav ul li:nth-child(4) a:after,
nav ul li:nth-child(5) a:after{
	padding-left: 40px;
	content: "|";
	color: gray;
}