body{
	font-family: 'Raleway', 'sans-serif';
	background-color: black;
}
#wrapper{
width: 40%;
background-color: white;
margin: 50px 0px 0px 25px;
border: 5px inset #29aae1;
}

#content{
height: 420px;
overflow: scroll;
overflow-x: hidden;

}

h1{
	font-size: 87px;
	margin-left: 5px;
	margin-bottom: -2px;
	margin-top: -5px;
}

h1 span{
	font-weight: 300;
	color: #29AAE1;
}

h1 strong{
	font-weight: 700;
	color: black;
}


img{
	width: 80%;
}